    <!-- About Section -->

<html>
<head>
<style>
img {
  border-radius: 50%;
}

#img2 {
  border-radius: 0%
}
</style>
</head>
<body>


    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
		<img src="img/avatar1.jpg" alt="Avatar" style="width:200px">
		<p><br>After recently receiving my PhD in applied mathematics, I am looking for exciting new opportunities.</p>
		<p>I am interested in complex systems - that is how the interactions between many individual entities can result in emergent behaviour that is more than simply the sum of the individual parts. Complex systems can be found in physics, biology, ecology, economics and finance, sociology and more.</p>
                <p>The focus of my PhD was to improve the understanding of how the different cell types of an organism emerge from the underlying molecular biology, using <a href="https://en.wikipedia.org/wiki/Statistical_physics">statistical physics</a> techniques. This involved creating mathematical models which I then tested against simulations and experimental data. During my PhD I gained skills in Boolean, gene regulatory and neural networks, stochastic simulation methods, data analysis and visualisation.</p>
		<p>As a former member of the <a href="https://www.kcl.ac.uk/nms/depts/mathematics/research/disorderedsys">Disordered Systems group</a> and <a href="https://www.kcl.ac.uk/innovation/groups/noneqsys/index.aspx">CANES</a>, I am also interested in <a href="https://en.wikipedia.org/wiki/machine_learning">machine learning</a>, <a href="https://en.wikipedia.org/wiki/Stochastic_process">stochastic processes</a> and <a href="https://en.wikipedia.org/wiki/network_science">network science</a>. Beyond scientific research, I am also passionate about gastronomy, sports & fitness, and I have a keen interest in consumer electronics & mobile computing. If you would like to find out more about myself or my work feel free to drop me an <a href="mailto:{{ site.email }}">email</a>.</p>
            </div>
        </div>
    </section>

<img id=img2 src="img/poster_pres1.jpg" style="width:100%">
</body>
</html> 





