    <!-- Publications Section -->
    <section id="publications" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Publications</h2>
                <p align="left"><a href="https://iopscience.iop.org/article/10.1088/1751-8121/ab3053">Percolation in bipartite Boolean networks and its role in sustaining life</a>,
        <br>J. Phys. A: Math & Theor. 52 334002 (2019),
        <br>R. Hannam, R K&uuml;hn and A. Annibale.
        <br> This article was published as part of the "Disordered serendipity: a glassy path to discovery" special issue.<br>
        <!--Preprint versions: <a href="https://arxiv.org/abs/1612.08064">arXiv.org</a>, <a href="https://www.biorxiv.org/content/early/2016/12/23/096636">bioRxiv.org</a></p>		-->
        </p>
		      <p align="left"><a href="https://www.biorxiv.org/content/10.1101/505446v1">High gene dosage changes transcriptional regulation of genetic structures and contributes to diversity and heterogeneity</a>, (2018)
		<br>D. Lui, R. Hannam and L. Albergante.<br>
		Preprint versions: <a href="https://www.biorxiv.org/content/10.1101/505446v1">bioRxiv.org</a></p>
		</p>
		<br>
                <p align="left"><a href="http://iopscience.iop.org/article/10.1088/1751-8121/aa89a2">Cell reprogramming modelled as transitions in a hierarchy of cell cycles</a>,
		<br>J. Phys. A: Math & Theor. 50 425601 (2017),
		<br>R. Hannam, A. Annibale, and R K&uuml;hn.
		<br> This article was also selected for the journal's "Highlights of 2017" special issue.<br>
		Preprint versions: <a href="https://arxiv.org/abs/1612.08064">arXiv.org</a>, <a href="https://www.biorxiv.org/content/early/2016/12/23/096636">bioRxiv.org</a></p>
		</p>
            </div>
        </div>
    </section>
