    <!-- Research Section -->

<html>
<head>
<style>
img {
  border-radius: 50%;
}
</style>
</head>
<body>


    <section id="research" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Research</h2>
		<p>I am interested in complex systems - that is how the interactions between many individual entities can result in an emergent behaviour that is more than simply the sum of the individual parts. Complex systems can be found in physics, biology, ecology, economics and finance, sociology and more. In my PhD, I focused on the field of cell biology, investigating gene regulatory networks and cell fate decisions.</p>
		<p>In humans, various combinations of 25,000 gene expression levels give rise to just 300 different cell types. These cell types are robust to changes in the cellular environment, genetic variations and mutations that are passed on from generation-to-generation. Until recently, the events of development were thought to pass on information to create an adult organism through an irreversible process. However, the discovery of cell reprogramming and iPSCs have shown that this is not the case. In fact, cells are high-dimensional attractors of gene expression dynamics.</p>
		<p>In my PhD, I  built mathematical and computational models of interacting genes and the cell types that emerge from them, using a ground up approach. Then I investigated mechanisms capable of converting cells from one type to another in said models. The success of these models relies on their validation using data from biological experiments.</p>
            </div>
        </div>
    </section>


</body>
</html> 





